name = "orange-meets-v2"

account_id = "71c5c615411b458d625eb678f92865a9"
main = "./build/index.js"
# https://developers.cloudflare.com/workers/platform/compatibility-dates
compatibility_date = "2024-10-07"
compatibility_flags = ["nodejs_compat"]

[[routes]]
pattern = "zoom.0x0.cat"
custom_domain = true

[site]
  bucket = "./public"

[[rules]]
type = "ESModule"
globs = ["**/*.js"]

[[kv_namespaces]]
binding = "FEEDBACK_STORAGE"
id = "73970c8cd5074c98a815e4d413e80769"

[[durable_objects.bindings]]
name = "rooms"
class_name = "ChatRoom"

[vars]
CALLS_APP_ID = "fbc78f2ad50daae3838abf85d99f795d"
TURN_SERVICE_ID = "2ece6e1847adc20f9aa05aee7766f12d"
EXPERIMENTAL_SIMULCAST_ENABLED = "false"

[[d1_databases]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "orange-meets-db-production"
database_id = "bfa54b24-3950-4ab6-a83b-52d876dcb4c3"

# Indicate that you want the ChatRoom and RateLimiter classes to be callable as Durable Objects.
[[migrations]]
tag = "v1" # Should be unique for each entry
new_sqlite_classes = ["ChatRoom"]

[observability]
enabled = true

# The necessary secrets are:
# - CALLS_APP_SECRET
# Run `echo <VALUE> | wrangler secret put <NAME>` for each of these
